:root {
  --primary-color: #FF9900;
  --secondary-color: #FFC700;
  --minor-color: #FFE7C2;
  --bg: #f5f4ed;
  --currentBorderColor: #FF9900;

  /* Font */
  --title-size: 1.5rem;
  --body-size: 1.1rem;
  --desctiprion-size: 1rem;
  --title-weight: 100;

  --welcomeSize: 2.5rem;

  --body-text-color: #222222;
  --note-text-color: #979797;
  --sidebar-text-color: #fff;

  /* borders */
  --button-border-radius: 0.5rem;
  --sidebar-border-radius: 0.8rem;
  --general-border-radius: 0.6rem;
  --minor-border-radius: 0.4rem;

  /* Colors */
  --primary-green: #2BA600;
  --secondary-green: #1BBF00;
  --minor-green: #CCEAC2;

  --primary-yellow: #FF9900;
  --secondary-yellow: #FFC700;
  --minor-yellow: #FFE7C2;

  --primary-blue: #00A3FF;
  --secondary-blue: #00C2FF;
  --minor-blue: #C2E9FF;

  --primary-purple: #B900B1;
  --secondary-purple: #D848D2;
  --minor-purple: #e99fe5;

  --primary-red: #E95757;
  --secondary-red: #C14D4D;

  --primary-brown: #CEB99C;
  --secondary-brown: #9D917C;

  --placeholder-color: #c4c2c0;
  --body-element-color: #f5f5f5;

  --shadow: 0 0.2rem 0.5rem rgba(41, 39, 39, 0.1);
}

@font-face {
  font-family: 'Itim';
  src: url('./resources/fonts/Itim-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./resources/fonts/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GasoekOne';
  src: url('./resources/fonts/GasoekOne-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  min-width: -webkit-fill-available;
  color: #222222;
}

::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--placeholder-color);
}

.body {
  background: var(--bg);
  color: var(--body-text-color);
  font-size: var(--body-size);
}

div.sideBarButtonContainer {
  text-align: center;
}

.sideBarButton {
  background: var(--primary-color);
  color: var(--sidebar-text-color);
  border: solid 0.2rem var(--body-element-color);
  width: 4.5rem;
  border-radius: 100%;
  height: 4.5rem;
  padding: 1rem 1rem;
  margin: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: var(--shadow);
}

.sideBarButton:hover {
  filter: brightness(0.9);
  transition: all 0.3s;
}

div.topBar {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-rows: 6rem 4rem;
}

div.upperPart {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

div.lowerPart {
  overflow: hidden;
  width: 100%;
}

div.colorsContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  min-height: 4.3rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  padding-bottom: 0.2rem;
}

button.buttonColor,
input.buttonColor {
  width: 25%;
  min-width: 4rem;
  height: 4rem;
  border-radius: var(--minor-border-radius);
  border: none;
  transition: all 0.3s;
}

.buttonColor:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

input.buttonColor {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: var(--minor-border-radius);
  position: relative;
}

input.buttonColor::before,
input.buttonColor::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  max-width: 1.5rem;
  height: 0.3rem;
  border-radius: var(--minor-border-radius);
  background-color: var(--sidebar-text-color);
}

input.buttonColor::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

input.buttonColor::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

input.buttonColor::-webkit-color-swatch {
  border: none;
  border-radius: var(--minor-border-radius);
  padding: 0;
}

input.buttonColor::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: var(--minor-border-radius);
  padding: 0;
}

.primaryYellow {
  background-color: var(--primary-yellow);
}

.primaryBlue {
  background-color: var(--primary-blue);
}

.primaryGreen {
  background-color: var(--primary-green);
}

.primaryPurple {
  background-color: var(--primary-purple);
}

.secondaryYellow {
  background-color: var(--secondary-yellow);
}

.secondaryBlue {
  background-color: var(--secondary-blue);
}

.secondaryGreen {
  background-color: var(--secondary-green);
}

.secondaryPurple {
  background-color: var(--secondary-purple);
}

.tertiaryYellow {
  background-color: var(--minor-yellow);
}

.tertiaryBlue {
  background-color: var(--minor-blue);
}

.tertiaryGreen {
  background-color: var(--minor-green);
}

.tertiaryPurple {
  background-color: var(--minor-purple);
}

.currentPrimary {
  background-color: var(--primary-color) !important;
}

.currentSecondary {
  background-color: var(--secondary-color) !important;
}

.currentTertiary {
  background-color: var(--minor-color) !important;
}

.blackText {
  color: var(--body-text-color) !important;
}

div.buttonScroll {
  height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  overflow-x: auto;
}

div.buttonScroll::-webkit-scrollbar {
  height: 0.3rem;
  box-shadow: var(--shadow);
}

div.buttonScroll::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 100rem;
}

div.buttonScroll::-webkit-scrollbar-track {
  height: 0.3rem;
  background: rgba(211, 211, 211, 0.192);
}

div.titleContainer {
  font-family: 'Inter';
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.3rem;
  width: 100%;
  max-width: calc(100vw - 8rem);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  text-transform: capitalize;
  overflow: hidden;
  overflow-x: auto;
  text-overflow: ellipsis;
  height: 50%;
  text-wrap: nowrap;
}

p.loadingText {
  position: relative;
  color: var(--secondary-brown);
}

p.loadingText::after {
  content: 'loading...';
  animation: loading 2s linear infinite;
}

button.swapButton {
  text-transform: uppercase;
  align-self: flex-end;
  background: var(--primary-color);
  color: var(--sidebar-text-color);
  border: none;
  border-radius: var(--button-border-radius);
  padding: 0.5rem;
  transition: all 0.3s;
  box-shadow: var(--shadow);
  width: 100%;
  font-weight: bold;
  margin-top: auto;
}

button.swapButton:hover {
  filter: brightness(0.9);
  transition: all 0.3s;
}

div.fullContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@keyframes loading {
  25% {
    content: 'loading';
  }

  50% {
    content: 'loading.';
  }

  75% {
    content: 'loading..';
  }

  100% {
    content: 'loading...';
  }
}

b.decoratedTitle {
  color: var(--primary-color);
  text-transform: uppercase;
  margin-left: 0.2rem;
}

b.buttonText {
  font-size: var(--body-size);
  font-weight: var(--title-weight);
  font-family: 'Inter';
}

button.quickButton {
  flex-shrink: 0;
  color: var(--sidebar-text-color);
  background-color: var(--primary-color);
  border: none;
  height: 100%;
  width: 8rem;
  min-width: --webkit-fill-available;
  border-radius: var(--button-border-radius);
  transition: all 0.3s;
  box-shadow: var(--shadow);
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0.5rem;
  min-width: fit-content;
}

button.quickButton:hover {
  filter: brightness(0.9);
  transition: all 0.3s;
}

img.icon {
  margin-right: 0.5rem;
  width: 1rem;
}

div.body {
  width: 100%;
  height: calc(100vh - 10rem);
}

div.section {
  height: 100%;
  padding: 0.5rem;
}


.hidden {
  display: none !important;
  z-index: -99 !important;
}

div.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
  z-index: 3;
  position: fixed;
  top: 0;
  left: -20rem;
  background: var(--primary-color);
  box-shadow: var(--shadow);
  height: 100vh;
  width: 50vw;
  min-width: 15rem;
  max-width: 20rem;
  border-top-right-radius: var(--sidebar-border-radius);
  border-bottom-right-radius: var(--sidebar-border-radius);
  transition: all 0.3s;
}

div.sidebar.open {
  left: 0;
  transition: all 0.3s;
}

div.popup {
  color: var(--body-text-color);
  z-index: 3;
  position: fixed;
  bottom: -60vh;
  left: 0;
  width: 100vw;
  height: 60vh;
  background: var(--body-element-color);
  border-top-left-radius: var(--sidebar-border-radius);
  border-top-right-radius: var(--sidebar-border-radius);
  transition: all 0.3s;
  box-shadow: var(--shadow);
}

div.popup.open {
  bottom: 0;
  transition: all 0.3s;
}

div.overlay {
  position: fixed;
  top: 0;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 2;
  background: rgba(0, 0, 0, 0.151);
  transition: all 0.3s;
}

div.overlay.visible {
  display: block;
  transition: all 0.3s;
}

h2.subtitle {
  font-size: 1.4rem;
  font-family: 'Inter';
}

div.eventContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.3rem;
  width: 100%;
  height: calc(100% - 2.5rem);
  background-color: var(--minor-color);
  border-radius: var(--general-border-radius);
}


*::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
  box-shadow: var(--shadow);
}

*::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 100rem;
}

*::-webkit-scrollbar-track {
  background: rgba(211, 211, 211, 0.192);
}

div#eventPlaceholder.visible {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

img.emptyImg {
  width: 70%;
  max-width: 25rem;
  margin-bottom: 1.5rem;
}

p.infoText {
  font-size: var(--body-size);
  color: var(--primary-color);
  font-weight: bold;
}

div.eventsList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  overflow-y: auto;
  padding-right: .2rem;
}

div.eventsList> :last-child {
  margin-bottom: 5rem;
}

div.upcomingEvent {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--body-element-color);
  border-radius: var(--general-border-radius);
  transition: all 0.3s;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  box-shadow: var(--shadow);
  flex-shrink: 0;
}

@keyframes popUp {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

h3.eventTitle {
  font-size: calc(var(--body-size) + 0.2rem);
  font-family: 'Inter';
  text-transform: capitalize;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

p.eventInfo {
  font-size: var(--desctiprion-size);
  font-family: 'Itim';
  color: var(--note-text-color);
  margin: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2rem;
}

button.eventButton {
  height: 80%;
  aspect-ratio: 1/1;
  background-color: var(--primary-color);
  background: var(--primary-color);
  border-radius: var(--button-border-radius);
  border: none;
  transition: all 0.3s;
}

.iconAdjustment {
  margin-left: -.2rem !important;
  ;
}

button.eventButton:hover {
  filter: brightness(0.9);
  transition: all 0.3s;
}

div.eventInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: calc(100% - 7.3rem);
  height: 100%;
  justify-content: center;
  z-index: 1;
}

img.eventIcon {
  width: 1.5rem;
}

div.eventButtonContainer {
  display: flex;
  align-items: center;
}

div.addButtonContainer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-right: 0;
  z-index: 2;
}

button.addButton {
  background-color: var(--primary-color);
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: var(--button-border-radius);
  transition: all 0.3s;
  display: flex;
  box-shadow: var(--shadow);
}

button.addButton:hover {
  filter: brightness(0.9);
  transition: all 0.3s;
}

div.bodyContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  padding-bottom: 0rem;
  width: 100%;
  height: 100%;
}

img.addIcon {
  width: 1rem;
  margin: auto;
}

div.fillContainer {
  width: 100%;
  padding: 0.3rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--body-size);
  background: var(--primary-color);
  border-radius: var(--minor-border-radius);
  font-weight: bold;
  color: var(--sidebar-text-color);
}

div.inputContainer {
  width: 100%;
  flex-shrink: 0;
  height: calc(var(--body-size) + 2.35rem);
}

input.inputField,
textarea.inputField {
  width: 100%;
  min-width: -webkit-fill-available;
  height: 100%;
  border: solid 0.19rem var(--primary-color);
  border-radius: var(--minor-border-radius);
  padding: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: var(--body-size);
  font-family: 'Inter';
  font-weight: 500;
  resize: none;
}

input.inputField {
  max-height: 4rem;
  min-height: 3rem;
}

input.error {
  border: solid 0.19rem var(--primary-red) !important;
}

input.valid {
  border: solid 0.19rem var(--primary-green) !important;
}

div.largeInputContainer {
  height: 100%;
}

div.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  height: 3.5rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  margin-top: 0.3rem;
}

button.popupButton {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--button-border-radius);
  color: var(--sidebar-text-color);
  font-size: var(--body-size);
  font-family: 'Inter';
  font-weight: bold;
  transition: all 0.3s;
  box-shadow: var(--shadow);
  text-transform: uppercase;
}

button.popupButton:hover {
  filter: brightness(0.9);
  transition: all 0.3s;
}

div.popUpBody {
  width: 100%;
  height: calc(60vh - 4.5rem);
  overflow: hidden;
  overflow-y: auto;
}

button.danger {
  background: var(--primary-red);
}


div.autenticazione {
  height: 100vh;
  width: 100%;
}

img.logo {
  width: 100%;
  max-width: 20rem;
  transition: all 0.3s;
}

h1.titleWelcome {
  font-size: var(--welcomeSize);
  font-weight: bold;
  text-align: center;
  color: var(--secondary-brown);
  font-family: "GasoekOne";
  transition: all 0.3s;
}

b.changeColor {
  color: var(--primary-brown);
}

div.welcomePage {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcomePage hr {
  width: 29%;
  min-width: 10rem;
  margin: 0 auto;
  border: 0.1rem solid black;
  border-radius: var(--general-border-radius);
}

button.bottoneLogin {
  height: 4rem;
  width: 100%;
  border: none;
  border-radius: var(--button-border-radius);
  background-color: var(--primary-brown);
  color: var(--sidebar-text-color);
  font-family: "GasoekOne";
  letter-spacing: 0.1rem;
  font-size: var(--title-size);
}

button.bottoneLogin:hover {
  filter: brightness(0.9);
  transition: all 0.3s;
}

.bottoneSignUp {
  height: 2rem;
  width: auto;
  border: none;
  background-color: transparent;
  font-size: var(--body-size);
  font-weight: bold;
  text-decoration: underline;
  color: var(--secondary-brown);
}

.bottoneSignUp:hover {
  filter: brightness(0.9);
  transition: all 0.3s;
}

div.actionContainer {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  text-align: left;
  min-width: 8rem;
}


div.loginPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1.loginTitle {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary-brown);
  font-family: "GasoekOne";
  transition: all 0.3s;
}

div.campiCont {
  height: fit-content;
  width: 100%;
}

div.campiCont input {
  width: 100%;
  max-width: 25rem;
  min-width: 20rem;
  height: 4rem;
  background-color: var(--body-element-color);
  border: 2px solid var(--secondary-brown);
  font-size: var(--body-size);
  font-family: "Inter";
}

p.campi {
  font-size: var(--body-size);
  font-family: "Inter";
  font-weight: bold;
  color: var(--secondary-brown);
  padding: 0;
  margin-bottom: 0.2rem;
}

hr.authHr {
  width: 100%;
  border: 0.1rem solid var(--secondary-brown);
  border-radius: var(--general-border-radius);
  margin-bottom: 5vh;
}

div.registerPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1.registerTitle {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary-brown);
  font-family: "GasoekOne";
  transition: all 0.3s;
}

p.error {
  color: var(--primary-red);
  font-size: var(--body-size);
  font-family: "Inter";
  margin: 0;
}

button.confirm {
  margin-top: 5vh;
}

#password {
  margin-bottom: 2vh;
}

div.loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background: #f2ede5b7;
}

.loadingIcon {
  width: 10%;
  flex-grow: 0;
  flex-shrink: 0;
  animation: spin 1s linear infinite;
}

h1.selezioneTema {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary-brown);
  transition: all 0.3s;
  font-family: "Inter";
}

.style1 {
  color: var(--primary-blue);
}

.style2 {
  color: var(--primary-green);
}

.style3 {
  color: var(--primary-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div.logout {
  background: #fde8e8 !important;
}

div.impostazioni,
div.voti,
div.calendario {
  overflow: hidden;
  overflow-y: hidden;
  max-height: 100%;
  overflow-y: auto;
  padding: 1rem;
  background: var(--minor-color);
  min-height: 100%;
  border-radius: var(--general-border-radius);
}

div.calendario {
  min-height: auto;
  height: 100%;
}

div.evento {
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: auto;
  padding: 1rem;
  margin-top: 0.5rem;
  background: var(--minor-color);
  border-radius: var(--general-border-radius);
  height: 100%;
  position: relative;
}

div.containerCalendario{
  display: flex;
  flex-direction: column;
  height: calc(100% - 3rem);
}

div#calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

div#calendarHeader {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  padding: 0.5rem;
}

div#calendarHeader button {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 20%; 
}

div#calendarHeader h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Inter';
}

.note {
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 50%;
  background-size: contain !important;
}

div.dailyPin {
  background: url('resources/icons/pin.svg') var(--secondary-color);
  background-position: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.8rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: fade-in 0.3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



div#calendarBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}
div.switchMonth {
  display: flex;
  gap: 0.5rem; 
}
div.dayNames {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
  background: var(--minor-color);
  border-radius: var(--general-border-radius);
}

div.day,
div.empty {
  min-width: 3.5rem;
  font-family: 'itim';
  padding: 0.2rem;
  font-weight: 500;
  color: var(--body-text-color);
  border-radius: 0.2rem;
}
div.empty {
  background: var(--minor-color) !important;
  border: none !important;
  cursor: default !important;
}

div.monthName {
  font-family: 'Inter';
  text-transform: capitalize;
  font-weight: bold;
  min-width: 3.5rem;
  overflow: hidden;
  white-space: nowrap;
}

div.dayNames div {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

#daysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* 7 colonne uguali */
  grid-auto-rows: 1fr;
  /* Altezza uniforme per le righe */
  width: 100%;
  height: 100%;

}

.calendarDays {
  position: relative;
  display: flex;
  align-items: right;
  justify-content: right;
  border: 1px solid var(--minor-color);
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-size: 0.8rem;
}




div.voti {
  margin-top: 0.5rem;
  min-height: calc(100% - 4rem);
  max-height: calc(100% - 4rem);
}

div.containerVoti {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 4rem;
}

.numeroVoto {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  border: 5px solid;
  background-color: white;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

div.descriptionGrades {
  background-color: white;
  width: 100%;
  border-radius: var(--general-border-radius);
  padding: 1rem;
}

div.descriptionGrades h4 {
  font-weight: bold;
}

p.descrizioneVoto {
  font-size: var(--desctiprion-size);
  font-family: 'Itim';
  color: var(--note-text-color);
  margin: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2rem;
}

div.voto {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.max-height-3 {
  max-height: 3rem !important;
}

h3.navBarTitle {
  color: var(--sidebar-text-color);
  margin-top: 3vh;
  font-weight: bold;
  text-align: left;
  width: 90%;
}

hr.navSeparator {
  width: 90%;
  border: solid white .1rem;
  margin: 1vh;
  border-radius: var(--minor-border-radius);
}

button.barLink {
  width: 90%;
  text-align: left;
  background: transparent;
  border: none;
  padding: .5rem;
  border-radius: var(--button-border-radius);
  color: var(--sidebar-text-color);
  display: flex;
  align-items: center;
}

button.barLink.active {
  background-color: var(--secondary-color);
}

div.calendarDay {
  text-transform: capitalize;
  width: 3ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: hidden;
}

button.barlink:hover {
  filter: brightness(0.9);
}

button.barlink.img {
  background-color: var(--secondary-color);
}

div.temi {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

div.tuttiTemi {
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: var(--general-border-radius);
  box-shadow: var(--shadow);
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 10%;
  transition: all 0.3s;
}

div.themeContainer {
  width: 90%;
  max-width: 40rem;
}


.raggruppamento {
  display: grid;
  grid-template-areas:
    'Primary Primary'
    'SideBar Pins';
  gap: 0.5rem;
  height: fit-content;
  width: 60%;
}

div.primoDivTema {
  grid-area: Primary;
  background-color: var(--primary-yellow);
  text-align: center;
  padding: 0.2rem;
  border-radius: var(--minor-border-radius);
  color: var(--sidebar-text-color);
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
}

div.secondoDivTema {
  grid-area: SideBar;
  background-color: var(--secondary-yellow);
  text-align: center;
  padding: 0.2rem;
  border-radius: var(--minor-border-radius);
  color: var(--sidebar-text-color);
  font-weight: bold;
  font-size: 1.2rem;

}

div.themeScroll {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
}

div.themeScroll::-webkit-scrollbar {
  width: 0.5rem;
  box-shadow: var(--shadow);
}

div.themeScroll::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 100rem;
}

div.themeScroll::-webkit-scrollbar-track {
  background: rgba(211, 211, 211, 0.192);
}

div.terzoDivTema {
  grid-area: Pins;
  background-color: #ffe8d6;
  text-align: center;
  padding: 0.2rem;
  border-radius: var(--minor-border-radius);
  color: var(--sidebar-text-color);
  font-weight: bold;
  font-size: 1.2rem;
}

div.bluePrimary {
  background-color: var(--primary-blue) !important;
}

div.greenPrimary {
  background-color: var(--primary-green) !important;
}

div.purplePrimary {
  background-color: var(--primary-purple) !important;
}

div.blueSecondary {
  background-color: var(--secondary-blue) !important;
}

div.greenSecondary {
  background-color: var(--secondary-green) !important;
}

div.purpleSecondary {
  background-color: var(--secondary-purple) !important;
}

div.bluePins {
  background-color: var(--minor-blue) !important;
}

div.greenPins {
  background-color: var(--minor-green) !important;
}

div.purplePins {
  background-color: var(--minor-purple) !important;
}

div.border {
  border: 0.2rem solid var(--currentBorderColor) !important;
}


div.UsernamePage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.UsernamePage img {

  width: 100%;
  max-width: 20rem;
  transition: all 0.3s;
}

div.UsernamePage hr {
  margin-top: 0rem;
}

#campoUser {
  max-width: 20rem;
  font-size: 0.8rem;
}

div.containerSettings {
  height: 100vh;
  background-color: var(--body-element-color);
  border-radius: var(--general-border-radius);
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
  overflow-x: auto;
}

div.containerSettings:hover {
  filter: brightness(0.95);
}

div.containerSettings {
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
  width: 100%;
  background-color: var(--body-element-color);
  border-radius: var(--general-border-radius);
  box-shadow: var(--shadow);
  padding: 1rem;
  gap: 2rem;
  transition: all 0.3s;
  width: 100%;
}

div.containerSettings p {
  font-family: "Inter";
  align-items: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 0rem;
}

div.containerSettings img {
  background-color: var(--primary-color);
  border-radius: var(--button-border-radius);
  padding: 0.3rem;
  height: 3rem;
  width: 3rem;
}

button.deleteNoteButton {
  position: absolute;
  top: 0rem;
  height: 100%;
  width: 3.6rem;
  right: 0;
  border: none;
  border-radius: var(--button-border-radius);
  background: var(--primary-red);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.3s;
}

div.fakeScroll {
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  top: 0;
  right: 3.5rem;
  width: 0.5rem;
  background: var(--body-element-color);
  border-radius: var(--button-border-radius);
  animation: slideIn 0.3s ease-out;
}

div.fakeScroll.hide {
  animation: slideOut 0.3s ease-out;
}

button.deleteNoteButton:hover {
  filter: brightness(0.9);
  transition: all 0.3s;
}

div.feedBack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 80%;
  position: absolute;
  top: 1.5rem;
  left: 10%;
  background-color: var(--body-element-color);
  border-radius: var(--general-border-radius);
  box-shadow: var(--shadow);
  animation: in-out 4s ease-in-out;
  transition: all 0.3s;
  align-items: center;
  justify-content: center;
}



@keyframes in-out {
  0% {
    transform: translateY(-10rem);
  }

  15% {
    transform: translateY(0);
  }

  85% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10rem);
  }
}

p.error {
  color: var(--primary-red);
  margin: 0;
  font-weight: bold;
}

p.success {
  color: var(--primary-green);
  margin: 0;
  font-weight: bold;
}

p.warning {
  color: var(--primary-yellow);
  margin: 0;
  font-weight: bold;
}


@keyframes slideIn {
  0% {
    width: 3.8rem;
    transform: translateX(+3.4rem);
  }

  100% {
    width: 3.8rem;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    width: 3.8rem;
    transform: translateX(0);
  }

  100% {
    width: 3.8rem;
    transform: translateX(+3.4rem);
  }

}

#cPass {
  background-color: var(--primary-red);
}

#info {
  background-color: var(--primary-blue);
}

#logOut {
  background-color: var(--primary-red);
}

@media screen and (max-height: 50rem) {
  div.popup {
    height: 70vh;
    max-height: 70vh;
    bottom: -70vh;
    overflow: hidden;
    overflow-Y: auto;
  }

  div.popup.open {
    bottom: 0;
  }

  div.popUpBody {
    height: calc(70vh - 4rem);
  }

}

@media screen and (max-width: 49.75rem) {
  h1.titleWelcome {
    font-size: 2rem;
  }

  img.logo {
    width: 100%;
    max-width: 17rem;
  }

  button.bottoneLogin {
    font-size: var(--body-size);
  }

  .welcomePage hr {
    width: 80%;
    border: 0.1rem solid black;
  }

  div.actionContainer {
    margin-top: 6vh;
  }

  h1.registerTitle {
    font-size: 4rem;
  }

  div.bodyContainer {
    padding: 1rem;
    padding-bottom: 0rem;
  }

  div.buttonContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 65.5rem) {
  div.popup {
    max-width: 50%;
    left: 25%;
  }
}

@media screen and (max-height: 40.625rem) {
  img.logo {
    display: none;
  }

  h1.titleWelcome {
    font-size: 3rem !important;
  }

  h1.loginTitle {
    display: none;
  }

  hr.authHr {
    display: none;
  }

  h1.registerTitle {
    color: transparent;
  }

  img.emptyImg {
    display: none;
  }
}